<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Oregon Housing Dashboard API
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				Welcome to the API that runs the Housing Dashboard. The data here was taken from the American Community Survey (2015-2019). For each Oregon county, the API contains population, median income, 
                median rent, number of renters, number of homeowners, new housing units built since 2013 and county fips. 
                The US and Oregon-wide pages include only median rents for years 2015 to 2019.
			</p>
            <p>
                To use the api, use 'api/v1/us' for US data, 'api/v1/or' for Oregon, and 'api/v1/county' where county is your desired county in Oregon.
            </p>
            <p>Alternatively, click the link below:</p>
			<ul>
				<li class="list-item">
					<a href="/api/v1/us">United States</a>
				</li>
				<li class="list-item">
					<a href="api/v1/or">Oregon</a>
				</li>
				<li class="list-item">
					Integer molestie lorem at massa
				</li>
				<li class="list-item">
					Facilisis in pretium nisl aliquet
				</li>
				<li class="list-item">
					Nulla volutpat aliquam velit
				</li>
				<li class="list-item">
					Faucibus porta lacus fringilla vel
				</li>
				<li class="list-item">
					Aenean sit amet erat nunc
				</li>
				<li class="list-item">
					Eget porttitor lorem
				</li>
			</ul>
		</div>
	</div>
</div>