<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oregon Housing Metrics</title>

  <link href="/static/styles.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" /> -->
  <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/maps/modules/data.js"></script>
  <script src="https://code.highcharts.com/maps/modules/data.js"></script>
</head>

<body>

  <div class="container">
    <div class="jumbotron text-center">
      <h1>Oregon Housing Metrics</h1>
      <p>This project will analyze housing data in Oreogn, by county. The data was pulled from the American Community Survey and consolidated in a local <a href="/api/v1/home">API</a></p>
    </div>
  </div>

  <div class="row" id="section1">
    <div class="col-md-12">
      <h4>Select a county from the dropdown menu:</h4>
      <select id="selDataset">
        <option value="Baker">Baker</option>
        <option value="Benton">Benton</option>
        <option value="Clackamas">Clackamas</option>
        <option value="Clatsop">Clatsop</option>
        <option value="Columbia">Columbia</option>
        <option value="Coos">Coos</option>
        <option value="Crook">Crook</option>
        <option value="Curry">Curry</option>
        <option value="Deschutes">Deschutes</option>
        <option value="Douglas">Douglas</option>
        <option value="Gilliam">Gilliam</option>
        <option value="Grant">Grant</option>
        <option value="Harney">Harney</option>
        <option value="Hood">Hood River</option>
        <option value="Jackson">Jackson</option>
        <option value="Jefferson">Jefferson</option>
        <option value="Josephine">Josephine</option>
        <option value="Klamath">Klamath</option>
        <option value="Lake">Lake</option>
        <option value="Lane">Lane</option>
        <option value="Lincoln">Lincoln</option>
        <option value="Linn">Linn</option>
        <option value="Malheur">Malheur</option>
        <option value="Marion">Marion</option>
        <option value="Morrow">Morrow</option>
        <option value="Multnomah">Multnomah</option>
        <option value="Polk">Polk</option>
        <option value="Sherman">Sherman</option>
        <option value="Tillamook">Tillamook</option>
        <option value="Umatilla">Umatilla</option>
        <option value="Union">Union</option>
        <option value="Wallowa">Wallowa</option>
        <option value="Wasco">Wasco</option>
        <option value="Washington">Washington</option>
        <option value="Wheeler">Wheeler</option>
        <option value="Yamhill">Yamhill</option>
      </select>
    </div>
  </div>

  <div class="row" id="section2">
    <div class="col-md-6">
      <br>
      <h3>2019 Median Income: </h3>
      <h3 id='income'></h3>
    </div>
    <div class ='col-md-6'>
      <br>
      <h3>Percent of Income Spent On Rent: </h3>
      <h3 id='rent'></h3>
    </div>
  </div>

  </div>

  <div class="row" id="section3">
    <div class="col-md-12">
      <br>
      <h3>Homeowner Vs. Renter</h3>
      <div id="pie"></div>
    </div>
  </div>

  <div class="row" id="section4">
    <div class="col-md-12">
      <br>
      <h3>Changes to Median Rent (2015-2019)</h3>
      <div id="plot"></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div id='map1'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div id='map2'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div id='map3'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div id='map4'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div id='map5'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div id='map6'></div>
    </div>
  </div>
  </div>

  <footer>
    <p>Data Sources: <a href="https://www.census.gov/acs/www/data/data-tables-and-tools/data-profiles/">2019 Census
        ACS</a></p>
  </footer>

  </div>

  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

  <script type="text/javascript" src="static/plots.js"></script>

</body>

</html>